.WB_right_module, .WB_right_board, .WB_right_tips {
    margin: 0 0 20px;
}
.WB_right_module fieldset {
    margin-left: 1px;
    padding: 3px 0 0 14px;
}
.WB_right_module .btns {
    float: right;
    padding-right: 20px;
}
.WB_right_module .btns a {
    margin-left: 5px;
    vertical-align: middle;
}
.WB_right_module .right_content {
    clear: both;
    line-height: 22px;
    padding: 15px 20px 0;
}
.WB_right_module .btm_rt {
    padding: 10px 20px 0;
    text-align: right;
}
.WB_right_module .btm_rt .more {
    cursor: pointer;
}
.WB_right_module .btm_rt .left {
    float: left;
}
.WB_right_module .hot_topic_rt.btm_rt {
    padding-top: 10px;
}
.WB_right_module .right_title .tit {
    font-size: 14px;
}
.WB_right_module .right_title .tit .W_ico16 {
    vertical-align: middle;
}
.WB_right_module .right_title .btns {
    margin-top: -22px;
}
.WB_right_module .right_tab {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    height: 24px;
    margin-left: 1px;
}
.WB_right_module .right_tab .btns {
    margin-bottom: -5px;
    margin-top: 12px;
}
.WB_right_module .right_tab ul {
    margin: 0 20px;
    padding: 0;
}
.WB_right_module .right_tab li {
    float: left;
    text-align: center;
}
.WB_right_module .right_tab li .W_tabarrow {
    height: 7px;
    overflow: hidden;
    width: 30px;
}
.WB_right_module .right_tab .title {
    display: block;
    font-size: 14px;
    height: 18px;
    overflow: hidden;
    text-decoration: none;
}
.WB_right_module .right_tab .line {
    font-size: 14px;
    margin: 0 10px;
}
.WB_right_module .right_tab .current .title {
    font-weight: bold;
}
.WB_right_module .pic30 {
    clear: both;
    padding: 12px 20px 0;
}
.WB_right_module .pic30 .pic {
    float: left;
    height: 30px;
    overflow: hidden;
    width: 30px;
}
.WB_right_module .pic30 .pic img {
}
.WB_right_module .pic30 .con {
    line-height: 17px;
    margin-left: 40px;
    min-height: 30px;
}
.WB_right_module .pic30 .change {
    left: 5px;
    margin: 0;
    position: absolute;
    top: 22px;
    visibility: hidden;
}
.WB_right_module .pic30 .name {
    height: 17px;
    overflow: hidden;
    word-wrap: break-word;
}
.WB_right_module .pic30:hover .change {
    visibility: visible;
}
.WB_right_module .pic30 .info a span {
    cursor: pointer;
}
.WB_right_module .pic50 {
    padding: 12px 20px 0;
}
.WB_right_module .pic50 .pic {
    float: left;
}
.WB_right_module .pic50 .pic img {
}
.WB_right_module .pic50 .con {
    display: block;
    line-height: 17px;
    margin-left: 55px;
    min-height: 30px;
}
.WB_right_module .pic50 .change {
    left: 5px;
    margin: 0;
    position: absolute;
    top: 22px;
    visibility: hidden;
}
.WB_right_module .pic50 .name {
    height: 17px;
    overflow: hidden;
    word-wrap: break-word;
}
.WB_right_module .pic50:hover .change {
    visibility: visible;
}
.WB_right_module .person_list {
    padding-left: 0;
    padding-right: 0;
    padding-top: 3px;
}
.WB_right_module .person_list dl {
    margin-top: -3px;
    position: relative;
}
.WB_right_module .person_list dt {
    margin: 3px 0 0;
}
.WB_right_module .person_list .btn {
    float: right;
    margin-top: 3px;
}
.WB_right_module .person_list .letter {
    padding: 4px 0 0;
}
.WB_right_module .person_list .W_btn_b span {
    padding: 0 5px 0 4px;
}
.WB_right_module .person_list.list_meyou .btn {
    margin-top: 0;
}
.WB_right_module .person_list.list_meyou .pic30 {
    padding-right: 0;
}
.WB_right_module .person_list.list_meyou .info {
    margin-top: 3px;
    overflow: hidden;
    white-space: nowrap;
}
.WB_right_module .person_list .info .hid {
    margin-left: 10px;
    visibility: hidden;
}
.WB_right_module .person_list .pic30:hover .info .hid {
    visibility: visible;
}
.WB_right_module .group_list {
    padding: 0;
}
.WB_right_module .group_list dl {
    margin-top: -3px;
    position: relative;
}
.WB_right_module .group_list .pic {
    margin-top: 3px;
}
.WB_right_module .group_list .name {
    height: 20px;
    line-height: 20px;
}
.WB_right_module .group_list .name a {
    display: inline-block;
    float: left;
    overflow: hidden;
    white-space: nowrap;
}
.WB_right_module .group_list .name .total {
    float: right;
}
.WB_right_module .group_list .W_group_level {
    float: left;
}
.WB_right_module .group_list .info {
    height: 17px;
}
.WB_right_module .weiba_list .pic_text {
    margin-bottom: 10px;
    position: relative;
}
.WB_right_module .weiba_list .pic_text .pic {
    border-style: solid;
    border-width: 1px;
    float: left;
    height: 80px;
    padding: 2px;
    width: 80px;
}
.WB_right_module .weiba_list .pic_text .pic img {
}
.WB_right_module .weiba_list .pic_text .con {
    line-height: 20px;
    margin-left: 100px;
}
.WB_right_module .weiba_list .pic_text .con .opt {
    margin: 4px 0 0;
}
.WB_right_module .weiba_list .pic_text .change {
    left: -15px;
    position: absolute;
    top: 5px;
}
.WB_right_module .weiba_list .pic_text .change {
    visibility: hidden;
}
.WB_right_module .weiba_list .pic_text:hover .change {
    visibility: visible;
}
.WB_right_module .app_list {
    padding: 0;
}
.WB_right_module .app_list dl {
    position: relative;
}
.WB_right_module .app_list .W_app_level {
    float: right;
    margin-top: 2px;
}
.WB_right_module .event_list {
}
.WB_right_module .event_list .W_vline {
    margin: 0 6px;
}
.WB_right_module .event_list .pic {
    margin: 0 0 10px;
}
.WB_right_module .event_list .pic a {
    display: block;
    height: 102px;
    overflow: hidden;
    position: relative;
    width: 170px;
}
.WB_right_module .event_list .pic a img {
    margin-top: -39px;
}
.WB_right_module .event_list .pic .prize {
    background: url("../../../images/common/icon_app.png?id=1345196970876") no-repeat scroll 0 -40px transparent;
    bottom: 4px;
    display: block;
    height: 36px;
    position: absolute;
    right: 2px;
    width: 36px;
}
.WB_right_module .event_list .name {
    position: relative;
}
.WB_right_module .event_list .change {
    left: -15px;
    position: absolute;
    top: 5px;
}
.WB_right_module .event_list .change {
    visibility: hidden;
}
.WB_right_module .event_list:hover .change {
    visibility: visible;
}
.WB_right_module .hot_topic {
    padding: 10px 20px 0 5px;
}
.WB_right_module .hot_topic .notopic {
    padding-left: 15px;
}
.WB_right_module .hot_topic .notopic .icon_warnS {
    vertical-align: middle;
}
.WB_right_module .hot_topic li {
    padding-left: 15px;
    position: relative;
}
.WB_right_module .hot_topic li p {
}
.WB_right_module .hot_topic li .total {
    float: right;
}
.WB_right_module .hot_topic li .change {
    left: 0;
    position: absolute;
    top: 2px;
}
.WB_right_module .hot_topic li .change {
    margin: 3px 0 0;
    visibility: hidden;
}
.WB_right_module .hot_topic li:hover .change {
    visibility: visible;
}
.WB_right_module .btn_page_prev, .WB_right_module .btn_page_prevdis, .WB_right_module .btn_page_next, .WB_right_module .btn_page_nextdis {
    margin: 0 0 0 5px;
}
.WB_right_module .right_expand {
    border-style: solid;
    border-width: 1px;
    margin: 5px 0;
    padding: 0 7px;
}
.WB_right_module .right_expand .arrow {
    height: 7px;
    line-height: 1.125;
    margin: -7px 0 0 2px;
    overflow: hidden;
    width: 12px;
}
.WB_right_module .right_expand .arrow * {
    display: inline-block;
    font-family: "SimSun";
    font-size: 14px;
    height: 10px;
    overflow: hidden;
    width: 12px;
}
.WB_right_module .right_expand .arrow span {
    margin: -9px 0 0;
}
.WB_right_module .publish_bar .notice {
    border-style: solid;
    border-width: 1px;
    margin-bottom: 5px;
    padding: 3px 10px 18px;
}
.WB_right_module .publish_bar .ico_notice {
    margin-right: 8px;
    vertical-align: middle;
}
.WB_right_module .right_content .dot_part .W_dot {
    margin-right: 4px;
    vertical-align: 4px;
}
.WB_right_module .menbernote {
    padding: 10px 20px 0;
}
.WB_right_module .menbernote a {
    cursor: pointer;
}
.WB_right_module .menbernote .icon_warnS {
    vertical-align: middle;
}
.WB_right_module .menbernote .m_link_mr {
    margin-right: 20px;
}
.WB_right_module .vip_show_special {
    margin-top: 5px;
}
.vip_show_special .pic50 .pic {
    margin-right: 8px;
}
.vip_show_special .vip_show_pic {
    height: 75px;
    width: 100px;
}
.vip_show_special .tag {
    margin: 2px 0 -4px -55px;
}
.vip_show_special .vip_module {
    margin: 0 0 0 108px;
    min-height: 75px;
}
.vip_show_special .vip_module .S_txt2 {
    height: 36px;
    line-height: 14px;
    overflow: hidden;
    padding-top: 2px;
}
.vip_show_special .vip_module .W_btn_b {
}
.vip_show_special .vip_module .vip_previlege {
    height: 65px;
    line-height: 16px;
    overflow: hidden;
    word-wrap: break-word;
}
.vip_show_special .vip_module .vip_module_name {
    height: 32px;
    line-height: 16px;
    margin-bottom: 24px;
    overflow: hidden;
    word-wrap: break-word;
}
.vip_show_special .vip_module .vip_spec_title a {
    color: #5C5C5C;
    word-wrap: break-word;
}
.vip_show_special .vip_module p {
    line-height: 18px;
}
.vip_show_special .vip_module .vip_spec_info a {
    color: #999999;
    line-height: 24px;
}
.WB_right_module .feedback {
    padding-right: 10px;
}
.WB_right_board {
    border-style: solid;
    border-width: 1px 0;
    margin-left: 1px;
    padding: 10px 20px;
}
.WB_right_adver .right_title .tit {
    font-size: 14px;
}
.WB_right_adver .adver_contA {
    margin: 0 auto;
    padding: 20px 0;
    width: 170px;
}
.WB_right_adver .adver_pic {
    margin: 0 0 10px;
}
.WB_right_adver .adver_org {
    text-align: right;
}
.WB_right_adver .orgpic {
    float: left;
    line-height: 22px;
}
.W_group_level {
    background: url("../../../images/common/icon_app.gif?id=1345196970876") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 20px;
    width: 20px;
}
.W_group_level.level1 {
    background-position: 0 0;
}
.W_group_level.level2 {
    background-position: -20px 0;
}
.W_group_level.level3 {
    background-position: -40px 0;
}
.W_group_level.level4 {
    background-position: -60px 0;
}
.W_group_level.level5 {
    background-position: -80px 0;
}
.W_group_level.level6 {
    background-position: -100px 0;
}
.W_group_level.level7 {
    background-position: -120px 0;
}
.W_group_level.level8 {
    background-position: -140px 0;
}
.W_group_level.level9 {
    background-position: -160px 0;
}
.W_group_level.level10 {
    background-position: -180px 0;
}
.W_app_level, .W_app_level em {
    background: url("../../../images/common/icon_app.gif?id=1345196970876") no-repeat scroll 0 -25px transparent;
    display: inline-block;
    height: 12px;
    overflow: hidden;
}
.W_app_level {
    background-position: 0 -25px;
    width: 60px;
}
.W_app_level em {
    background-position: -70px -25px;
}
.W_app_level.l0 em {
    width: 0;
}
.W_app_level.l1 em {
    width: 20%;
}
.W_app_level.l2 em {
    width: 40%;
}
.W_app_level.l3 em {
    width: 60%;
}
.W_app_level.l4 em {
    width: 80%;
}
.W_app_level.l5 em {
    width: 100%;
}
.WB_right_module .qa {
    line-height: 22px;
    margin: 0 20px;
    padding: 15px 0 0;
}
.WB_right_module .qa_title {
    float: left;
    text-align: right;
    width: 33px;
}
.WB_right_module .qa_title em {
    float: left;
    height: 17px;
    text-align: center;
    width: 18px;
}
.WB_right_module .person_list .pic50 .relative {
    height: 18px;
    line-height: 18px;
    margin: 3px 0 0;
}
.WB_right_module .person_list .relation {
    overflow: hidden;
    padding: 12px 20px 0;
}
.WB_right_module .person_list .relation .vs, .WB_right_module .person_list .relation .ask, .WB_right_module .person_list .relation .heart {

    display: block;
    float: left;
    height: 22px;
    margin-left: -27px;
    margin-top: 5px;
    width: 22px;
}
.WB_right_module .person_list .relation .vs {
    background-position: -350px -150px;
}
.WB_right_module .person_list .relation .ask {
    background-position: -350px -175px;
}
.WB_right_module .person_list .relation .heart {
    background-position: -350px -200px;
}
.WB_right_module .person_list .relation dl {
    float: left;
    width: 62px;
}
.WB_right_module .person_list .relation dl.right {
    margin-left: 60px;
}
.WB_right_module .person_list .relation .pic {
    height: 30px;
    overflow: hidden;
    width: 30px;
}
.WB_right_module .person_list .relation .pic img {
}
.WB_right_module .person_list .relation .topic {
    float: right;
    margin-left: -30px;
    overflow: hidden;
    text-align: right;
    white-space: nowrap;
    width: 72px;
}
.WB_right_module .person_list .relation .info {
    margin: 0 0 8px;
}
.WB_right_module .person_list .relation .approve, .WB_right_module .person_list .relation .approve_co {
    vertical-align: -6px;
}
.WB_right_module .person_group {
    padding: 15px 10px 0 20px;
}
.WB_right_module .person_group .pic {
    display: inline;
    float: left;
    padding: 10px 10px 0 0;
}
.WB_right_module .person_group .pic img {
    display: block;
}
.WB_right_module .meyou_search {
    margin-bottom: 5px;
}
.WB_right_module .meyou_search .btn_search {
    float: right;
    margin-top: 4px;
}
.WB_right_module .meyou_search .inp_search {
    width: 138px;
}
.WB_right_module .W_btn_round_ico .icon_opt {
    margin: 5px 2px 0 -4px;
    vertical-align: -1px;
}
.specialty_enter {
    margin: 20px;
}
.WB_right_module .hot_weibo_right {
    margin: 15px 20px 0;
}
.WB_right_module .hot_weibo_right dl {
    margin: 0 0 12px;
}
.WB_right_module .hot_weibo_right dt span {
    float: right;
}
.WB_right_module .hot_weibo_right dd {
    line-height: 17px;
    word-wrap: break-word;
}
.WB_right_module .hot_weibo_right dd p {
    padding: 2px 0;
}
.WB_right_module .hot_weibo_right dd .pic_box {
    padding-top: 10px;
}
.WB_right_module .hot_weibo_right dd.more {
    padding-top: 15px;
}
.WB_right_module .hot_weibo_right dl .W_bubtips .S_txt2 {
    color: #999999;
}
.WB_right_module .hot_weibo_right dd.more .S_txt2 {
    padding: 0 10px;
}
.M_rightNote {
    border-style: solid;
    border-width: 1px;
    margin: 0 15px 20px;
    padding: 8px;
}
.M_rnNobg {
    background-color: transparent;
}
.M_rightNote .icon_warn, .M_rightNote .icon_askS, .M_rightNote .icon_promptS {
    float: left;
}
.M_rightNote .notetxt {
    display: block;
    line-height: 1.4em;
    margin-left: 21px;
}
.WB_right_tips.highlight1 {
    border-color: #FFA00A;
}
.WB_right_tips.highlight2 {
    border-color: #FFA00A;
}
.WB_right_tips {
    border-style: solid;
    border-width: 1px;
    margin: 0 20px 20px;
    padding: 3px 5px;
}
.WB_right_tips .icon_warnS, .WB_right_tips .W_ico16 {
    margin-right: 5px;
    vertical-align: middle;
}
.WB_right_tips .picon {
    padding: 2px 0;
}
.W_rightModule fieldset {
    margin-left: 1px;
}
.WB_right_module .weikan_list {
    padding: 0;
}
.WB_right_module .weikan_list .wk_con_box {
    background: url("../../../images/global_nav/left_nav_border.png?id=1351240309734") no-repeat scroll -740px bottom transparent;
    line-height: 21px;
    margin-top: 15px;
    padding: 0 22px;
    position: relative;
}
.WB_right_module .weikan_list .wk_show {
    border-style: solid;
    border-width: 1px;
    padding: 7px;
}
.WB_right_module .weikan_list .wk_img {
    font-size: 0;
    height: 170px;
    margin-bottom: 5px;
    overflow: hidden;
    text-align: center;
    width: 170px;
}
.WB_right_module .weikan_list .wk_img img {
    max-width: 170px;
}
.WB_right_module .weikan_list .icon_close {
    left: 7px;
    position: absolute;
    top: 3px;
    visibility: hidden;
}
.WB_right_module .weikan_list .wk_con_box:hover .icon_close {
    visibility: visible;
}
.WB_right_module .party_eighteen {
    padding-top: 0;
}
.WB_right_module .party_eighteen img {
    display: block;
}
.WB_right_module .hot_topic .icon_local, .WB_right_module .hot_topic .icon_hot, .WB_right_module .hot_topic .icon_promotion, .WB_right_module .hot_topic .icon_party {
    background: url("../../../images/common/icon_right.png?id=1352969458556") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 14px;
    margin-left: 4px;
    vertical-align: -2px;
    width: 26px;
}
.WB_right_module .hot_topic .icon_local {
    background-position: 0 0;
}
.WB_right_module .hot_topic .icon_hot {
    background-position: 0 -20px;
}
.WB_right_module .hot_topic .icon_promotion {
    background-position: 0 -40px;
}
.WB_right_module .hot_topic .icon_party {
    background-position: 0 -60px;
}
.WB_right_module .novice_sign {
    border-style: solid;
    border-width: 1px;
    line-height: 22px;
    margin: 0 20px;
}
.WB_right_module .novice_sign .sign_title {
    border-style: solid;
    border-width: 0 0 1px;
    font-weight: 700;
    height: 22px;
    overflow: hidden;
    padding: 2px 7px 0;
}
.WB_right_module .novice_sign .sign_title a {
    font-weight: normal;
}
.WB_right_module .novice_sign .sign_title .ico_member {
    margin-right: 2px;
    vertical-align: -2px;
}
.WB_right_module .novice_sign .sign_title .title_l {
    float: left;
}
.WB_right_module .novice_sign .sign_title .title_r {
    float: right;
}
.WB_right_module .novice_sign .sign_box {
    margin: 13px 7px 1px;
    position: relative;
}
.WB_right_module .novice_sign .sign_box .ico_novice {
    position: absolute;
    right: 0;
    top: -6px;
}
.WB_right_module .novice_sign .sign_box .sign_records {
    border-style: solid;
    border-width: 1px;
    height: 14px;
    margin-bottom: 2px;
    width: 90%;
}
.WB_right_module .novice_sign .sign_box .sign_records li {
    background: none repeat scroll 0 0 #FFBC5C;
    float: left;
    height: 12px;
    margin: 1px 0 1px 1px;
    overflow: hidden;
    width: 28px;
}
.WB_right_module .novice_sign .sign_box .days {
    font-size: 16px;
    font-weight: 700;
    margin: 0 1px;
}
.WB_right_module .novice_sign .sign_box .mark_days {
    display: inline-block;
    margin-left: 15px;
    text-align: right;
    width: 92px;
}
.WB_right_module .novice_sign .low_active_sign {
    margin: 13px 7px 0;
    padding-bottom: 12px;
}
#js_homestyle_css_module_global_WB_right_module {
    height: 42px;
}
#js_style_css_module_global_WB_right_module {
    height: 42px;
}
.layer_add_topic {
    clear: both;
    padding: 15px 20px;
}
.layer_add_topic .W_close {
    position: absolute;
    right: 5px;
    top: 3px;
    z-index: 2;
}
.layer_add_topic .tagsAdd_con .W_input {
    margin-right: 5px;
    padding-right: 2px;
    width: 115px;
}
.layer_add_topic .tagsAdd_note {
    margin-top: 5px;
}
.layer_add_topic .tagsAdd_input {
}
.layer_add_topic .tagsAdd_btn {
    margin-top: 7px;
    text-align: right;
}
.layer_add_topic .tagsAdd_btn .W_btn_d {
    margin-right: 10px;
}
.layer_add_topictag {
    background: none repeat scroll 0 0 #FDFFEA;
    border: 1px solid #CCCCCC;
    padding: 10px;
    position: absolute;
    width: 178px;
}
.layer_add_topictag .W_close {
    position: absolute;
    right: 2px;
    top: 2px;
}
.layer_add_topictag .tagsAdd_input {
    padding: 10px 0 5px;
}
.layer_add_topictag .tagsAdd_con .W_input {
    margin: 0 5px 0 0;
    width: 110px;
}
.layer_add_topictag .W_btn_b span, .layer_add_topictag .W_btn_b_disable span {
    padding: 0 4px 0 2px;
}
.layer_insert_topictag .W_close {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
.layer_insert_topictag .tagsAdd_con {
    padding: 20px 15px 15px;
}
.layer_insert_topictag .tagsAdd_input .W_input {
    margin: 0 5px 0 0;
    width: 114px;
}
.layer_insert_topictag .W_btn_b span, .layer_insert_topictag .W_btn_b_disable span {
    padding: 0 4px 0 2px;
}
#js_homestyle_css_module_layer_layer_add_tags {
    height: 42px;
}
#js_style_css_module_layer_layer_add_tags {
    height: 42px;
}
#js_homestyle_css_module_combination_right_thirdpart {
    height: 42px;
}
#js_style_css_module_combination_right_thirdpart {
    height: 42px;
}