<?xml version="1.0" encoding="GB2312"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="PROJECT" class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
        <param name="file" value="/home/chenjw/output/logs/sys/webx/webx.log"/>
		<param name="append" value="true"/>
		<param name="encoding" value="GBK"/>
        <param name="threshold" value="info"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%X{requestURIWithQueryString}] %-5p %c{2} - %m%n"/>
        </layout>
    </appender>
    <appender name="SESSION" class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
        <param name="file" value="/home/chenjw/output/logs/sys/session/session.log"/>
        <param name="append" value="false"/>
        <param name="encoding" value="GBK"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%n%d %-5p %c{2} - [%X{loginUserNick}@%X{remoteAddr} - %X{method} %X{requestURIWithQueryString}] %nUserAgent: %X{userAgent}%nReferrer: %X{referrer} %n%m%n"/>
        </layout>
    </appender>
    <appender name="URLCONVERT" class="com.alibaba.common.logging.spi.log4j.FileAppender">
        <param name="file" value="/home/chenjw/output/logs/sys/urlconvert/url_convert.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="GBK"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %c{2} - %m%n"/>
        </layout>
    </appender>
    <appender name="URLEXPIRED" class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
        <param name="file" value="/home/chenjw/output/logs/sys/urlexpired/url_expired.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="GBK"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%X{loginUserNick}@%X{remoteAddr} - %X{method} %X{requestURIWithQueryString}] - UserAgent: %X{userAgent} - Referrer: %X{referrer} - %m%n"/>
        </layout>
    </appender>
    <appender name="FILTER" class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
        <param name="file" value="/home/chenjw/output/logs/sys/filter/webx-filter.log"/>
        <param name="append" value="false"/>
        <param name="encoding" value="GBK"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %c{2} - %m%n"/>
        </layout>
    </appender>
    <appender name="APACHE" class="com.alibaba.common.logging.spi.log4j.FileAppender">
        <param name="file" value="/home/chenjw/output/logs/sys/apache/apache.log"/>
        <param name="append" value="false"/>
        <param name="encoding" value="GBK"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%X{requestURIWithQueryString}] %-5p %c{2} - %m%n"/>
        </layout>
    </appender>
    <appender name="VELOCITY" class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
        <param name="file" value="/home/chenjw/output/logs/sys/velocity/velocity.log"/>
        <param name="append" value="false"/>
        <param name="encoding" value="GBK"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %c{2} - %m%n"/>
        </layout>
    </appender>
    <appender name="DAL" class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
        <param name="file" value="/home/chenjw/output/logs/sys/dal/dal.log"/>
        <param name="append" value="false"/>
        <param name="encoding" value="GBK"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %c{2} - %m%n"/>
        </layout>
    </appender>
    <appender name="PERFORMANCE" class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
        <param name="file" value="/home/chenjw/output/logs/sys/performance/performance.log"/>
        <param name="append" value="false"/>
        <param name="encoding" value="GBK"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p - %m - [%X{requestURIWithQueryString}]%n"/>
        </layout>
    </appender>


	<appender name="csrfAppender" class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
        <param name="file" value="/home/chenjw/output/logs/sys/csrf/csrf.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="GBK"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p %d{MM/dd/yyyy HH:mm:ss}--%m%n"/>
        </layout>
    </appender>

    <appender name="uploadAppender" class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
        <param name="file" value="/home/chenjw/output/logs/usr/upload/upload/upload.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="GBK"/>
        <layout class="org.apache.log4j.PatternLayout">
        	<param name="ConversionPattern" value="%d [%X{requestURIWithQueryString}] %-5p %c{2} - %m%n"/>
        </layout>
    </appender>
    
    <appender name="ZjInternalProxyServiceAppender" class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
        <param name="file" value="/home/chenjw/output/logs/usr/aic/zjFreeAIC/ZjInternalProxyService.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="GBK"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%X{requestURIWithQueryString}] %-5p %c{2} - %m%n"/>
        </layout>
    </appender>
    <appender name="zjFreeAICProxyServiceAppender" class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
        <param name="file" value="/home/chenjw/output/logs/usr/aic/zjFreeAIC/ZjFreeAICProxyService.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="GBK"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%X{requestURIWithQueryString}] %-5p %c{2} - %m%n"/>
        </layout>
    </appender>
    <appender name="zjFreeAicConfirmActionAppender" class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
        <param name="file" value="/home/chenjw/output/logs/usr/aic/zjFreeAIC/zjFreeAIC.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="GBK"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%X{requestURIWithQueryString}] %-5p %c{2} - %m%n"/>
        </layout>
    </appender>


    <!--  认证过程中的log记录     -->
	<logger name="authLogger" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="authStatusAppender"/>
    </logger>

    <!--alipayMsg在第二方类库中被引用class:com.alibaba.alisoft.payproxy.IPayImpl-->
	<logger name="alipayMsg" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="alipayMsgAppender"/>
	</logger>

    <!-- 支付宝消息日志 -->
    <appender name="alipayMsgAppender" class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
        <param name="file" value="${loggingRoot}/usr/authenticate/alipay_message.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="GBK"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p %d{MM/dd/yyyy HH:mm:ss}--%m%n"/>
        </layout>
    </appender>

    <!-- 认证流转过程中的日志 -->
	<appender name="authStatusAppender" class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
        <param name="file" value="${loggingRoot}/usr/authenticate/authencate.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="GBK"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p %d{MM/dd/yyyy HH:mm:ss}--%m%n"/>
        </layout>
    </appender>


	<appender name="EXCEPTION_LOG" class="com.alibaba.dragoon.patrol.log4j.PatrolLog4jAppender">
	   <param name="Threshold" value="ERROR"/>
	</appender>

	<!-- 工商红盾点亮日志-->
	<appender name="aicLightAppender" class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
        <param name="file" value="${loggingRoot}/usr/authenticate/aicLight.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="GBK"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p %d{MM/dd/yyyy HH:mm:ss}--%m%n"/>
        </layout>
    </appender>

    <!-- 买家保障appender begin-->
    <appender name="bpsAccountLogAppender" class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
        <param name="file" value="${loggingRoot}/usr/protection/bpsAccountLog.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="GBK"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p %d{MM/dd/yyyy HH:mm:ss}--%m%n"/>
        </layout>
    </appender>
    <!-- 买家保障appender end -->

    <!-- 主动退出买家保障原因appender begin-->
    <appender name="bpsExitOwnLogAppender" class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
        <param name="file" value="${loggingRoot}/usr/protection/bpsExitOwnLog.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="GBK"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p %d{MM/dd/yyyy HH:mm:ss}--%m%n"/>
        </layout>
    </appender>
    <!-- 主动退出买家保障原因appender end -->

    <!-- 确认AV日志-->
	<appender name="avConfirmInfoAppender" class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
        <param name="file" value="${loggingRoot}/usr/av/avConfirmInfo.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="GBK"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p %d{MM/dd/yyyy HH:mm:ss}--%m%n"/>
        </layout>
    </appender>

    <!-- 红盾流程相关日志-->
	<appender name="aicAuthAppender" class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
        <param name="file" value="${loggingRoot}/usr/av/aicAuth.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="GBK"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p %d{MM/dd/yyyy HH:mm:ss}--%m%n"/>
        </layout>
    </appender>

    <!-- 实地认证运营抽奖appender begin-->
    <appender name="lotteryLogAppender" class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
        <param name="file" value="${loggingRoot}/usr/activities/lottery.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="GBK"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p %d{MM/dd/yyyy HH:mm:ss}--%m%n"/>
        </layout>
    </appender>
    <!-- 实地认证运营抽奖appender  end -->

    <!--  CNAappender  begin  -->
	<appender name="cnaCoreAppender" class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
        <param name="file" value="${loggingRoot}/usr/cna/cna.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="GBK"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p %d{MM/dd/yyyy HH:mm:ss}--%m%n"/>
        </layout>
    </appender>

    <appender name="cnaQuickAuthAppender" class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
        <param name="file" value="${loggingRoot}/usr/cna/cnaQuickAuth.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="GBK"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p %d{MM/dd/yyyy HH:mm:ss}--%m%n"/>
        </layout>
    </appender>
    <!--  CNAappender  end  -->

	<!-- 资质证书 -->
     <appender name="certificateAppender" class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
        <param name="file" value="${loggingRoot}/usr/certificate/certificateAppender.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="GBK"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p %d{MM/dd/yyyy HH:mm:ss}--%m%n"/>
        </layout>
    </appender>
    
    <appender name="aicAuthWebServiceAppender" class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
        <param name="file" value="${loggingRoot}/usr/aic/aicAuthWebService.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="GBK"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p %d{MM/dd/yyyy HH:mm:ss}--%m%n"/>
        </layout>
    </appender>
    
    <appender name="authenticationHandlerAppender" class="com.alibaba.common.logging.spi.log4j.DailyRollingFileAppender">
        <param name="file" value="${loggingRoot}/usr/aic/authenticationHandler.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="GBK"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p %d{MM/dd/yyyy HH:mm:ss}--%m%n"/>
        </layout>
    </appender>

    <logger name="com.alibaba.webx.session" additivity="false">
        <level value="warn"/>
        <appender-ref ref="SESSION"/>
    </logger>
    <logger name="com.alibaba.webx.request.context.rewrite">
        <level value="warn"/>
        <appender-ref ref="URLCONVERT"/>
    </logger>
    <logger name="com.alibaba.webx.filter" additivity="false">
        <level value="warn"/>
        <appender-ref ref="FILTER"/>
    </logger>
    <logger name="com.alibaba.service.VelocityService" additivity="false">
		<level value="warn"/>
		<appender-ref ref="VELOCITY"/>
    </logger>
    <logger name="org.apache" additivity="false">
        <level value="warn"/>
        <appender-ref ref="APACHE"/>
    </logger>
	<logger name="com.ibatis" additivity="false">
        <level value="warn"/>
        <appender-ref ref="DAL"/>
    </logger>
	<logger name="com.alibaba.china.common.webx.valve.ExpiredUrlValve" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="URLEXPIRED"/>
    </logger>
	<logger name="csrfLogger" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="csrfAppender"/>
    </logger>

	<logger name="com.alibaba.china.biz.common.monitor.PerformanceInterceptor" additivity="false">
        <level value="warn"/>
        <appender-ref ref="PERFORMANCE"/>
    </logger>

    <logger name="java.sql" additivity="false">
        <level value="warn"/>
        <appender-ref ref="DAL"/>
    </logger>

	<logger name="aicLightService" additivity="false">
        <level value="warn"/>
        <appender-ref ref="aicLightAppender"/>
    </logger>

    <!-- CNA相关log记录 -->
	<logger name="cnaCoreLogger" additivity="false">
        <level value="warn"/>
        <appender-ref ref="cnaCoreAppender"/>
    </logger>

    <logger name="cnaQuickAuthLogger" additivity="false">
        <level value="warn"/>
        <appender-ref ref="cnaQuickAuthAppender"/>
    </logger>
	<!-- end -->

    <!-- 买家保障相关log记录 -->
	<logger name="bpsAccountLog" additivity="false">
        <level value="warn"/>
        <appender-ref ref="bpsAccountLogAppender"/>
    </logger>
	<!-- end -->

	 <!--主动退出买家保障原因log记录 -->
	<logger name="bpsExitOwnLog" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="bpsExitOwnLogAppender"/>
    </logger>
	<!-- end -->

	<!-- 实地认证运营抽奖 -->
	<logger name="lotteryLog" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="lotteryLogAppender"/>
    </logger>
	<!-- end -->
	<!-- 资质证书 -->
	<logger name="certificateLog" additivity="false">
        <level value="warn"/>
        <appender-ref ref="certificateAppender"/>
    </logger>
    
    <logger name="avConfirmInfo" additivity="false">
        <level value="info"/>
        <appender-ref ref="avConfirmInfoAppender"/>
    </logger>
    
    <logger name="com.alibaba.china.auth.aic.service.proxy.impl.ZjFreeAICProxyService" additivity="false">
        <level value="info"/>
        <appender-ref ref="zjFreeAICProxyServiceAppender"/>
    </logger>
    <logger name="com.alibaba.china.themis.authenticate.web.module.action.ZjFreeAicConfirmAction" additivity="false">
        <level value="info"/>
        <appender-ref ref="zjFreeAicConfirmActionAppender"/>
    </logger>
    <logger name="com.alibaba.china.auth.aic.service.proxy.ZjInternalProxyService" additivity="false">
        <level value="info"/>
        <appender-ref ref="ZjInternalProxyServiceAppender"/>
    </logger>
    
    <!-- 红盾流程相关日志-->
    <logger name="aicAuthLogger" additivity="false">
        <level value="info"/>
        <appender-ref ref="aicAuthAppender"/>
    </logger>
    
    <!-- 红盾webservice 日志 -->
    <logger name="aicAuthWebServiceLogger" additivity="false">
        <level value="info"/>
        <appender-ref ref="aicAuthWebServiceAppender"/>
    </logger>
    <!-- 红盾权限校验 -->
    <logger name="authenticationHandlerLogger" additivity="false">
        <level value="info"/>
        <appender-ref ref="authenticationHandlerAppender"/>
    </logger>
    

    <root>
        <level value="warn"/>
        <appender-ref ref="PROJECT"/>
        <appender-ref ref="EXCEPTION_LOG"/>
    </root>
</log4j:configuration>
