<div id="Box_right" class="W_main_r">
    <div id="pl_rightmod_myinfo">
        <ul class="user_atten clearfix user_atten_l">
            <li class="S_line2">
                <a href="/1925238912/follow?rightmod=1&amp;wvr=5" class="S_func1">
                    <span>首页</span>
                </a>
            </li>

        </ul>
    </div>
</div>
