<div id="pl_content_top">
    <div class="WB_global_nav">
        <div class="gn_bg">
            <div class="gn_header">
                <div class="gn_nav">
                    <div class="gn_title current" >
                        #if($user.userId==$loginUser.userId)
                            <a href="/demo.htm" class="gn_tab" tabindex="4" style="">
                                <i>使用演示帐号登录</i>
                            </a>
                        #else
                            <a href="/relogin.htm" class="gn_tab" tabindex="4" style="">
                                <i>使用 $!{loginUser.screenName} 登录</i>
                            </a>
                        #end
                    </div>

                    <div class="gn_person" id="new_tweets_message">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
